body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #a2a8d3;;
  color: #333333;
}


.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.exp-skills {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)

}


.container{
  max-width: 960px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic{
  text-align: center;
  margin-bottom: 20px;
}


.profile-pic img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


h1{
  font-size: 24px;
  margin-bottom: 10px;
}

h2{
  font-size: 20px;
  margin-bottom: 10px;
}


h3{
font-size: 15px;
margin-bottom: 10px;
}

ul{
  padding-left: 20px;
}

.icons{
  display: flex;
}

.icons .icon{
  margin: 20px;
  font-size: 20px;
}


.footer{
  text-align: center;
  color: #f8f0f0;
  font-size: 14px;
}



